{% extends "base.html" %}

{% block content %}
   <div class="row py-4">
      <div class="col-md-4">
         <div class="card card-body">
            <h5 class="text-capitalize">{{ title }} : {{ data_count }}</h5>
            <hr>

            <a href="{%url "create-profile" %}" class="btn btn-primary btn-sm btn-block text-capitalize">Créer un profil</a>
         </div>
      </div>
   </div>

   <div class="row py-4">
      <div class="col-md">
         <div class="card card-body">
            <table class="table table-sm">
               <tr>
                  <th class="text-capitalize">email</th>
                  <th class="text-capitalize">téléphone</th>
                  <th class="text-capitalize">designation</th>
                  <th class="text-capitalize">salaire</th>
                  <th class="text-capitalize">numéro de projets</th>
                  <th class="text-capitalize">modifier</th>
                  <th class="text-capitalize">supprimer</th>
               </tr>

               {% for n in data %}
                  <tr>
                     <td> {{ n.email }} </td>
                     <td> {{ n.mobile }} </td>
                     <td> {{ n.designation }} </td>
                     <td> {{ n.salary }} </td>
                     <td> {{ n.number_of_projects }} </td>
                     <td class="font-weight-bold">
                        <a href="{%url "update-profile" n.id %}" class="btn btn-sm btn-info">modifier</a> </td>
                     <td class="font-weight-bold">
                        <a href="{%url "delete-profile" n.id%}" class="btn btn-sm btn-danger">supprimer</a> </td>
                  </tr>
               {% endfor %}
            </table>
         </div>
      </div>
   </div>        
{% endblock content %}
