{% extends "base.html" %}

{% block content %}
   <div class="row py-4">
      <div class="col-md-4">
            <h5 class="text-capitalize">{{ title }} : {{ data_count }} </h5>
            <hr>
            <a href="{%url "create-Task" %}" class="btn btn-primary btn-sm btn-block text-capitalize">Créer une Tâche</a>
      </div>
   </div>
   


   <div class="row py-4">
      <div class="col-md">
         <div class="card card-body">
            <table class="table table-sm">
               <tr>
                  <th class="text-capitalize">titre</th>
                  <th class="text-capitalize">coût par heure</th>
                  <th class="text-capitalize">durée</th>
                  <th class="text-capitalize">coût total</th>
                  <th class="text-capitalize">modifier</th>
                  <th class="text-capitalize">supprimer</th>
               </tr>

               {% for n in data %}
                  <tr>
                     <td> {{ n.title }} </td>
                     <td> {{ n.cost_per_houre }} </td>
                     <td> {{ n.duration }} </td>
                     <td> {{ n.total_cost }} </td>
                     <td class="font-weight-bold">
                        <a href="{%url "update-Project" n.id %}" class="btn btn-sm btn-info">modifier</a> </td>
                     <td class="font-weight-bold">
                        <a href="{%url "delete-Project" n.id%}" class="btn btn-sm btn-danger">supprimer</a> </td>
                  </tr>
               {% endfor %}
            </table>
         </div>
      </div>
   </div>        
{% endblock content %}
